h1 {
  text-align: center;
  font-size: 34px;
}
p {
  font-size: 19px;
}
.SearchedWord {
  font-size: 45px;
  margin-right: 10px;
}
.Dictionary {
  max-width: 1000px;
  max-height: 1750px;
  border: solid 2px #2e94b9;
  border-radius: 10px;
  margin-left: 40px;
  padding: 20px;
  background-color: #f0fbff;
  overflow: auto;
}
.phonetics {
  color: gray;
  font-size: 29px;
  position: relative;
  top: -4px;
}
.partOfSpeech {
  font-style: italic;
}
.divider {
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 30px;
  text-align: center;
}
