.img-thumbnail {
  height: 200px;
  width: 200px;
  margin-bottom: 15px;
  background-color: #acdcee;
  border: 2px solid #2e94b9;
}
.images {
  display: block;
  margin: 0 auto;
  text-align: center;
}
